body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
}

.map-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

#mapCanvas {
  pointer-events: none;
}
